//ADD NEW LANGUAGE MODAL

#add-language.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog.modal-md(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title.text-primary Add New Languages
      .modal-body

        .form-group
          label.control-label New Language
          div#new-lang-container
            input#new-lang.form-control(type='text' name='new-lang' placeholder='New Language')
            //- button#confirm-lang.btn.btn-xs(type='button') +
            input(type='hidden',name='added-lang',value='false',id='added-lang')
            input(type='hidden', name='new-langs', id='new-langs')
            input(type='hidden', name='enabled-langs', id='enabled-langs', value=enabled_languages)

      .modal-footer
        button#confirm-lang.btn.btn-primary.pull-left(type='button' data-dismiss='modal') Done
        button.btn.btn-link.pull-left(type='button', data-dismiss='modal') Cancel