//ADD NEW CATEGORY MODAL

#add-category.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog.modal-md(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title.text-primary Add New Categories
      .modal-body

        .form-group
          .lang-toggles
            each lang in enabled_languages
              button.btn.categories-lang-btn.btn-sm.btn-outline.m-r-5(id=type + "-" + lang, class= lang == session.current_language ? 'active' : undefined) #{lang}

        form#add-categories-form(action='/add_categories/' + type, method='post')
          input.hidden(id='count',name='count',value=1)
          input.hidden(name='languages',value=enabled_languages)
          each lang in enabled_languages
            .categories-lang-field(id="categories-" + lang)
              label.col-form-label(for='example-text-input') Category Label
              .form-group
                .row
                  .col-xs-10
                    input.label-translations.form-control(type='text' name='1-label-'+lang, id ='1-label-' + lang )
                  .col-xs-2.text-right
                    button.add-category-btn.btn.btn-success(type='button')
                      i.fa.fa-plus
              .extra-categories(id="extra-categories-" + lang)
              template#clone-extra-category-row
                .form-group
                  .row
                    .col-xs-10
                      input.label-translations.form-control(type='text')
                    .col-xs-2.text-right
                      button.remove-category-btn.btn.btn-danger(type='button')
                        i.fa.fa-trash

      .modal-footer
        .error.alert.alert-danger#label-error
        button#categories-submit-btn.btn.btn-primary.pull-left(type='button') Save
        button.btn.btn-link.pull-left(type='button', data-dismiss='modal') Cancel
