//EDIT CATEGORY MODAL

#edit-category-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog.modal-md(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title.text-primary Edit Category
      .modal-body

        .form-group
          form#edit-category-form
            input(type='hidden' name='language' value=session.current_language)
            input(type='hidden' name='label' value=category.label)
            input(type='hidden' name='type' value=type)
            input(type='hidden' name='id' value=category.id)
            .form-group
              label.col-form-label(for='example-text-input') Category Label (#{session.current_language})
              .row
                .col-xs-12
                  input.label-translations.form-control(type='text' name='new-label', id ='new-label', value=category.label)

          .error#label-error

      .modal-footer
        button#edit-category-submit.btn.btn-primary.pull-left(type='button') Save
        button.btn.btn-link.pull-left(type='button', data-dismiss='modal') Cancel
        button.btn.btn-danger.category-control(type='button', data-category-name='', data-type='', id='') Delete