div#main-nav( role="navigation" )
    div.container-fluid
      ul#custom-nav
        li.dropdown.nav-item
            a.dropdown-toggle.nav-link(href="#", data-toggle="dropdown", role="button", aria-expanded="false" )
              span.double-line.text-right
                small Welcome <br/>
                if session.user.logged_in == true
                  span Username
                else
                  span Please Sign In
                span.caret
            ul.dropdown-menu.dropdown-menu-right( role="menu" )
              if session.user.logged_in == true
                li
                  a( href="/") Account Dashboard
                li.divider( role="separator" )
              li.dropdown-header Language
              li#side-options
                // Translation buttons
                each lang in enabled_languages
                  a.change-lang(id=lang, class=session.current_language== lang ? 'active':undefined href='#') #{lang}
                    <span class="fa fa-check hidden" aria-hidden="true"></span>
              li.divider( role="separator" )
              if session.user.logged_in == true
                li#login-container: a( href="/signout")
                  b Sign out
              else
                li#login-container: a( href="/login")
                  b Login
      div.navbar-header
        button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#collapse-nav")
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(class=title=='Home' ? 'active':undefined href='/')
          img#logo(src='/tmp/logo')
      div#collapse-nav.collapse.navbar-collapse
        ul.nav.navbar-nav
          if livestreams_enabled
            li.dropdown.nav-item
                a.dropdown-toggle.nav-link(class=title=='livestream' ? 'active':undefined href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Live Streams
                    span.caret
                ul.dropdown-menu( role="menu" )
                    li: a( href="/stream_by_type/livestream" )
                          span#test1  All
                      li.divider.hidden-xs( role="separator" )
                    each cat,id in livestream_categories
                      li
                        a(href='/stream_by_category/livestream/'+id) #{cat}
          if ondemand_enabled
            li.dropdown.nav-item
                a.dropdown-toggle.nav-link(class=title=='ondemand' ? 'active':undefined href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) VOD
                    span.caret
                ul.dropdown-menu( role="menu" )
                    li: a( href="/stream_by_type/ondemand" )
                          span.cat  All
                      li.divider.hidden-xs( role="separator" )
                    each cat,id in ondemand_categories
                      li
                        a(href='/stream_by_category/ondemand/'+id) #{cat}
          if advertisements_enabled
            li.dropdown.nav-item
                a.dropdown-toggle.nav-link(class=title=='advertisement' ? 'active':undefined href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Advertisements
                    span.caret
                ul.dropdown-menu( role="menu" )
                    li: a( href="/stream_by_type/advertisement" )
                          span.cat  All
                      li.divider.hidden-xs( role="separator" )
                    each cat,id in advertisement_categories
                      li
                        a(href='/stream_by_category/advertisement/'+id) #{cat}
          if goservices_enabled
            li.nav-item
              a.nav-link(class=title=='goservices' ? 'active':undefined  href="/goservices") Go Services
          if (session.user.logged_in)
            li.nav-item
              a.nav-link(class=title=='settings' ? 'active':undefined  href="/settings" ) Settings