extends home

block content
  script.
    $( document ).ready(function() {

      var enabled_languages = '#{enabled_languages}';
      var current_language = '#{session.current_language}';
      var type = '#{type}'
      console.log("the type  " + type);

      var type = "#{type}";
      var avail_categories= "#{available_categories}"

      var avail_categories_list = avail_categories.split(',');

      instantiateCategoriesTokenfield(avail_categories_list);
      instantiateCategoryModal('advertisement',true,current_language,enabled_languages);
      instantiateLanguageFields(current_language,enabled_languages);
      instantiateTagsTokenfield();

      // categories that have been newly added
      var added_categories = [];

      // FORM VALIDATION
      $('#ad-submit-btn').click(function(){
        streamSubmitHandler('add-ad-form',avail_categories_list,added_categories,enabled_languages);
      });

    });

  #addadvertisement.page-wrapper
    .category-header
      div.container-fluid
        h3.text-primary Add Advertisement

    .form-container
      .container-fluid

        .row
          .col-sm-8

            // Buttons to toggle language fields
            .form-group
              .lang-toggles
                each lang in enabled_languages
                  button.btn.lang-btn.btn-sm.btn-outline.m-r-5(id="ad-" + lang, class= lang == session.current_language ? 'active default-lang-btn' : undefined) #{lang}

            form#add-ad-form(action='/add_advertisement', method='post')
              each lang in enabled_languages
                .form-group.lang-field(id='title-'+lang)
                  label.control-label Title
                  input.label-translations.form-control(type='text' name='title-'+lang, id = lang ==
                  config.default_language ? 'default-ad-title' : undefined)
                  .error#title-error(class= lang == config.default_language ? undefined : 'hidden')
              each lang in enabled_languages
                .form-group.lang-field(id='description-'+lang)
                  label.control-label(for='example-text-input') Description
                  input.label-translations.form-control(type='text' name='description-'+lang)

          .col-sm-4
            .form-group
              #new-thumbnail-container
                form#adThumb.dropzone(action='/upload_adthumb',enctype="multipart/form-data", method="post" )
              .caption Drag and drop an image on the thumbnail to replace. For best results, image should be 16:9 aspet ratio (eg. 800 x 450)

        hr.non-lang

        // ***** NON-LANG SECTION ***** //
        .row.non-lang
          .col-md-12
            .form-group
              label.control-label MP4 Video (Drag and drop video below)
              #new-video-container
                form#adVid.dropzone.file-dropzone(action='/upload_ad',enctype="multipart/form-data", method="post" )
              .error#video-error
              input#video-path(type="hidden" name="video" value="")

        hr.advanced-settings.non-lang

        //advanced settings
        button.btn.btn-link.btn-sm.advanced-settings-btn.p-l-0.non-lang(type='button') Hide Advanced Settings
        h4.text-primary.advanced-settings.non-lang Advanced Settings (Optional)

        .row.advanced-settings.non-lang
          .col-md-12
            .form-group.textarea-size
              label.control-label Tags
              input.form-control.tags.tags-input(type='text' name='tags' value=tags)
              input#ad-thumbpath(type="hidden" name="thumb" value="/tmp/thumbs/default-thumbnail.jpg")


    hr

    .container-fluid

      .error.alert.alert-danger#general-error This is a general error

      .form-group
        button.btn.btn-primary#ad-submit-btn(type='button') Submit
        button.btn.btn-link(type='button') Cancel






