extends home

block content
  script.
    $( document ).ready(function() {

      var enabled_languages = '#{enabled_languages}';
      var current_language = '#{session.current_language}';

      var type = "#{type}";
      var avail_categories= "#{available_categories}"

      var avail_ads = "#{advertisements}";
      var avail_ads_list = avail_ads.split(',');
      var avail_categories_list = avail_categories.split(',');

      instantiateCategoriesTokenfield(avail_categories_list);
      instantiateAdsTokenfield(avail_ads_list);
      instantiateTagsTokenfield();
      instantiateCategoryModal('ondemand',true,current_language,enabled_languages);
      instantiateLanguageFields(current_language,enabled_languages);

      // FORM VALIDATION  move ***

      // categories that have been dynamically added to this form
      var added_categories = [];

      $('#vod-submit-btn').click(function(){
        streamSubmitHandler('add-vod-form',avail_categories_list,added_categories,enabled_languages);
      });

    });

  #addondemand.page-wrapper
    .category-header
      div.container-fluid
        h3.text-primary Edit On Demand


    .form-container
      .container-fluid

        .row
          .col-sm-8

            // Buttons to toggle language fields
            .form-group
              .lang-toggles
                each lang in enabled_languages
                  button.btn.lang-btn.btn-sm.btn-outline.m-r-5(id="ondemand-" + lang, class= lang == session.current_language ? 'active default-lang-btn' : undefined) #{lang}

            form#add-vod-form(action='/add_vod', method='post')
              input#ondemand-thumbpath(type="hidden" name="thumb" value="/tmp/thumbs/default-thumbnail.jpg")
              each lang in enabled_languages
                .form-group.lang-field(id='title-'+lang)
                  label.control-label Title
                  input.label-translations.form-control(type='text' name='title-'+lang, id = lang ==
                  config.default_language ? 'default-vod-title' : undefined)
                  .error#title-error(class= lang == config.default_language ? undefined : 'hidden')
              each lang in enabled_languages
                .form-group.lang-field(id='description-'+lang)
                  label.control-label Description
                  input.label-translations.form-control(type='text' name='description-'+lang)

          .col-sm-4
            .form-group
              #new-thumbnail-container
                form#vodThumb.dropzone(action='/upload_vodthumb',enctype="multipart/form-data", method="post" )
              .caption Drag and drop an image on the thumbnail to replace. For best results, image should be 16:9 aspet ratio (eg. 800 x 450)

        hr.non-lang

        // ***** NON-LANG SECTION ***** //
        .row.non-lang
          .col-md-8

            .form-group
              label.control-label MP4 Video (Drag and drop video below)
              #new-video-container
                form#vodVid.dropzone.file-dropzone(action='/upload_vod',enctype="multipart/form-data", method="post" )
              .error#video-error
              input#video-path(type="hidden" name="video" value="")

          .col-md-4
            .form-group.textarea-size.non-lang
              label.control-label Categories
              div#categories-container
                input.form-control.tags.categories-input(type='text' name='categories' value=category=='all' ? '':category.label)

        hr.advanced-settings

        //advanced settings
        button.btn.btn-link.btn-sm.advanced-settings-btn.p-l-0(type='button') Hide Advanced Settings
        h4.text-primary.advanced-settings Advanced Settings (Optional)

        .row.advanced-settings
          .col-md-8

            .row
              .col-sm-6.col-md-4
                .form-group
                  label.control-label Publish Start
                  input.form-control(type='date' name='pub-start')
                  .error#application-error

              .col-sm-6.col-md-4
                .form-group
                  label.control-label Publish End
                  input.form-control(type='date' name='pub-end')
                  .error#application-error

              .col-sm-6.col-md-4.non-lang(class= advertisements_enabled ? undefined : 'hidden')
                .form-group
                  label.control-label Preroll Advertisement
                  input.form-control.tags.ads-input(type='text' name='advertisements' value="")

              .col-sm-3.col-md-4
                .form-group
                  label.control-label Set as Featured Video?
                  div
                    input.checkbox-toggle(type='checkbox', name='featured')

                    //- label.radio-inline
                    //-   input(type='radio', name='featured', value=1)
                    //-   | Yes
                    //- label.radio-inline
                    //-   input(type='radio', name='featured', value=0, checked)
                    //-   | No

              .col-sm-3.col-md-4
                .form-group
                  label.control-label Set as Private Video?
                  div
                    input.checkbox-toggle(type='checkbox', name='private')

                    //- label.radio-inline
                    //-   input(type='radio', name='private', value=1)
                    //-   | Yes
                    //- label.radio-inline
                    //-   input(type='radio', name='private', value=0, checked)
                    //-   | No

          .col-md-4.non-lang
            .form-group.textarea-size
              label.control-label Tags
              input.form-control.tags.tags-input(type='text' name='tags')

      hr

      .container-fluid

        .error.alert.alert-danger#general-error This is a general error
        .error.alert.alert-danger#application-error This is an application error

        .form-group
          button.btn.btn-primary#vod-submit-btn(type='button') Submit
          button.btn.btn-link(type='button') Cancel




