extends home

block append scripts
  script(src='/javascripts/dropzone-edit-control.js')

block content
  script.
    $( document ).ready(function() {

      var enabled_languages = '#{enabled_languages}';
      var current_language = '#{session.current_language}';
      var type = '#{type}'
      console.log("the type  " + type);
      var type = "#{type}";
      var avail_categories= "#{available_categories}"

      var avail_ads = "#{advertisements}";
      var avail_ads_list = avail_ads.split(',');
      var avail_categories_list = avail_categories.split(',');

      instantiateCategoriesTokenfield(avail_categories_list);
      instantiateTagsTokenfield();
      instantiateAdsTokenfield(avail_ads_list);
      instantiateCategoryModal('livestream',true,current_language,enabled_languages);

      instantiateLanguageFields(current_language,enabled_languages);

      // categories that have been newly added
      var added_categories = [];

      // FORM VALIDATION
      $('#livestream-submit-btn').click(function(){
        streamSubmitHandler('edit-livestream',avail_categories_list,added_categories,enabled_languages);
      });

    });

  #editlivestream.page-wrapper
    .category-header
      div.container-fluid
        h3.text-primary Edit Live Stream

    .form-container
      .container-fluid

        .row
          .col-sm-8

            // Buttons to toggle language fields
            .form-group
              .lang-toggles
                each lang in enabled_languages
                  button.btn.lang-btn.btn-sm.btn-outline.m-r-5(id="livestream-" + lang, class= lang == session.current_language ? 'active default-lang-btn' : undefined) #{lang}

            form#edit-livestream(action='/edit_livestream/' + id, method='post')
              each lang in enabled_languages
                .form-group.lang-field(id='title-'+lang)
                  label.control-label Title
                  input.label-translations.form-control(type='text', name='title-'+lang, value= titles[lang],id=config.default_language == lang ? 'default-livestream-title' : undefined)
                  .error#title-error
              each lang in enabled_languages
                .form-group.lang-field(id='description-'+lang)
                  label.control-label Description
                  textarea.label-translations.form-control(name='description-'+lang)= descriptions[lang]

          .col-sm-4
            .form-group
              #current-thumbnail-container
                .thumbnail-container
                  img.thumbnail.img-thumbnail(src=stream.thumbnail)
              #new-thumbnail-container(style="display:none;")
                form#livestreamThumb.dropzone(action='/upload_livethumb',enctype="multipart/form-data", method="post" )
                  input#livestream-thumbpath(type="hidden" name="thumb" value= stream.thumbnail )
              .caption Drag and drop an image on the thumbnail to replace. For best results, image should be 16:9 aspet ratio (eg. 800 x 450)

        hr.non-lang

        // ***** NON-LANG SECTION ***** //
        .row.non-lang
          .col-md-8

            .row
              .col-sm-6.col-md-4
                .form-group
                  label.control-label Hostname
                  input.form-control(type='text' name='hostname' value=stream.hostname)
                  .error#hostname-error

              .col-sm-6.col-md-4
                .form-group
                  label.control-label Port
                  input.form-control(type='text' name='port' value=stream.port)
                  .error#port-error

              .col-sm-6.col-md-4
                .form-group
                  label.control-label rtmp/mp4 Protocol
                  select#sel1.form-control(name='rtmp-protocol' value=stream.rtmp_protocol)
                    option rtmps
                    option rtmp

              .col-sm-6.col-md-4
                .form-group
                  label.control-label m3u8 Protocol
                  select#sel1.form-control(name='m3u8-protocol' value=stream.m3u8_protocol)
                    option http
                    option https

              .col-sm-6.col-md-4
                .form-group
                  label.control-label Streamname
                  input.form-control(type='text' name='streamname' value=stream.streamname)

              .col-sm-6.col-md-4
                .form-group
                  label.control-label Application
                  input.form-control(type='text' name='application' value=stream.application)

          .col-md-4
            .form-group.textarea-size
              label.control-label Categories
              input.form-control.tags.categories-input(type='text' name='categories' value=stream_categories)

        hr.advanced-settings

        //advanced settings
        button.btn.btn-link.btn-sm.advanced-settings-btn.p-l-0(type='button') Hide Advanced Settings
        h4.text-primary.advanced-settings Advanced Settings (Optional)

        .row.advanced-settings
          .col-md-8

            .row
              .col-sm-6.col-md-4
                .form-group
                  label.control-label Publish Start
                  input.form-control(type='date' name='pub-start' value= stream.pub_start)

              .col-sm-6.col-md-4
                .form-group
                  label.control-label Publish End
                  input.form-control(type='date' name='pub-end' value= stream.pub_end)

              .col-sm-6.col-md-4.non-lang(class= advertisements_enabled ? undefined : 'hidden')
                .form-group
                  label.control-label Preroll Advertisement
                  input.form-control.tags.ads-input(type='text' name='advertisements' value=stream_advertisements)

              .col-sm-3.col-md-4
                .form-group
                  label.control-label Set as Featured Video?
                  div
                    input.checkbox-toggle(type='checkbox', name='featured', checked= stream.featured)

                    //- label.radio-inline
                    //-   //todo** checked = data.featured
                    //-   input(type='radio', name='featured', value=1, checked= stream.featured)
                    //-   | Yes
                    //- label.radio-inline
                    //-   input(type='radio', name='featured', value=0, checked= !stream.featured)
                    //-   | No

              .col-sm-3.col-md-4
                .form-group
                  label.control-label Set as Private Video?
                  div
                    input.checkbox-toggle(type='checkbox', name='private', checked= stream.private)

                    //- label.radio-inline
                    //-   input(type='radio', name='private', value=1, checked= stream.private)
                    //-   | Yes
                    //- label.radio-inline
                    //-   input(type='radio', name='private', value=0, checked= !stream.private)
                    //-   | No

          .col-md-4.non-lang
            .form-group.textarea-size
              label.control-label Tags
              input.form-control.tags.tags-input(type='text' name='tags' value=tags)

      hr

      .container-fluid

        .error.alert.alert-danger#general-error This is a general error
        .error.alert.alert-danger#application-error This is an application error

        .form-group
          button.btn.btn-primary#livestream-submit-btn(type='button') Save Changes
          button.btn.btn-link(type='button') Cancel
          button.btn.btn-link.pull-right(type='button') Delete




