extends home

block content

  #addgoservice.page-wrapper
    form#add-goservice-form(action='/edit_goservice', method='post')
      .category-header
        div.container-fluid
          h3.text-primary Edit Go Service

      .form-container
        .container-fluid

          input#goservice-thumbpath(type="hidden" name="thumb" value="/tmp/thumbs/default-thumbnail.jpg")
          .form-group
            label(for='example-text-input') Title
            input.form-control(type='text' name='title')
          .form-group
            label(for='example-text-input') Link
            input.form-control(type='text' name='link' value="http://")
          .form-group
            label Upload Thumbnail
            .upload-container.ratio-horizontal
              form#goserviceThumb.dropzone(action='/upload_gothumb',enctype="multipart/form-data", method="post" )

      hr

      .container-fluid

        .error.alert.alert-danger#general-error This is a general error

        .form-group
          button.btn.btn-primary#goservice-submit-btn(type='button') Submit
          button.btn.btn-link(type='button') Cancel





