extends home

block append scripts
  script(src='/javascripts/dropzone-edit-control.js')

block content
  script.
    $( document ).ready(function() {

      var enabled_languages = '#{enabled_languages}';
      var current_language = '#{session.current_language}';
      var type = '#{type}'
      var avail_categories= "#{available_categories}"
      var avail_ads = "#{advertisements}";
      var avail_ads_list = avail_ads.split(',');
      var avail_categories_list = avail_categories.split(',');

      instantiateCategoriesTokenfield(avail_categories_list);
      instantiateAdsTokenfield(avail_ads_list);
      instantiateTagsTokenfield();
      instantiateCategoryModal('ondemand',true,current_language,enabled_languages);
      instantiateLanguageFields(current_language,enabled_languages);

      // categories that have been newly added
      var added_categories = [];

      // FORM VALIDATION
      $('#vod-submit-btn').click(function(){
        streamSubmitHandler('edit-vod',avail_categories_list,added_categories,enabled_languages);
      });

    });

  #editondemand.page-wrapper
    .category-header
      div.container-fluid
        h3.text-primary Edit On Demand

    .form-container
      .container-fluid

        .row
          .col-sm-8

            // Buttons to toggle language fields
            .form-group
              .lang-toggles
                each lang in enabled_languages
                  button.btn.lang-btn.btn-sm.btn-outline.m-r-5(id="ondemand-" + lang, class= lang == session.current_language ? 'active default-lang-btn' : undefined) #{lang}

            form#edit-vod(action='/edit_ondemand/' + id, method='post')
              each lang in enabled_languages
                .form-group.lang-field(id='title-'+lang)
                  label.control-label Title
                  input.label-translations.form-control(type='text', name='title-'+lang, value= titles[lang],id=config.default_language == lang ? 'default-vod-title' : undefined)
                  .error#title-error(class= lang == config.default_language ? undefined : 'hidden')
              each lang in enabled_languages
                .form-group.lang-field(id='description-'+lang)
                  label.control-label Description
                  textarea.label-translations.form-control(type='text', name='description-'+lang)= descriptions[lang]

          .col-sm-4
            .form-group
              #current-thumbnail-container
                .thumbnail-container
                  img.thumbnail.img-thumbnail(src=stream.thumbnail)
              #new-thumbnail-container(style="display:none;")
                form#vodThumb.dropzone(action='/upload_vodthumb',enctype="multipart/form-data", method="post" )
              .caption Drag and drop an image on the thumbnail to replace. For best results, image should be 16:9 aspet ratio (eg. 800 x 450)

        hr.non-lang

        // ***** NON-LANG SECTION ***** //
        .row.non-lang
          .col-md-8

            .form-group
              label.control-label MP4 Video (Drag and drop video below)
              #current-video-container
                .video-container
                  video(width='400', controls='', id='video-playback')
                    source(src=stream.video, type='video/mp4')
                    |   Your browser does not support HTML5 video.
                  button.btn.btn-sm.btn-danger.upload-video-btn(type='button') Upload new video
              #new-video-container(style="display:none;")
                form#vodVid.dropzone.file-dropzone(action='/upload',enctype="multipart/form-data", method="post" )
                button.btn.btn-sm.btn-danger.upload-video-btn(type='button') Upload new video

          .col-md-4
            .form-group.textarea-size.non-lang
              label.control-label Categories
              input.form-control.tags.categories-input(type='text' name='categories' value=stream_categories)
              input#vod-thumbpath(type="hidden" name="thumb" value= stream.thumbnail )
              input#video-path(type="hidden" name="video" value=stream.video )

        hr.advanced-settings

        //advanced settings
        button.btn.btn-link.btn-sm.advanced-settings-btn.p-l-0(type='button') Hide Advanced Settings
        h4.text-primary.advanced-settings Advanced Settings (Optional)

        .row.advanced-settings
          .col-md-8

            .row
              .col-sm-6.col-md-4
                .form-group
                  label.control-label Publish Start
                  input.form-control(type='date', name='pub-start', value=stream.pub_start)
                  .error#application-error

              .col-sm-6.col-md-4
                .form-group
                  label.control-label Publish End
                  input.form-control(type='date', name='pub-end', value= !stream.pub_end ? undefined : stream.pub_end)
                  .error#application-error

              .col-sm-6.col-md-4.non-lang(class= advertisements_enabled ? undefined : 'hidden')
                .form-group
                  label.control-label Preroll Advertisement
                  input.form-control.tags.ads-input(type='text' name='advertisements' value=stream_advertisements)

              .col-sm-3.col-md-4
                .form-group
                  label.control-label Set as Featured Video?
                  div
                    input.checkbox-toggle(type='checkbox', name='featured', checked= stream.featured)

                    //- label.radio-inline
                    //-   //todo** checked = data.featured
                    //-   input(type='radio', name='featured', value=1, checked= stream.featured)
                    //-   | Yes
                    //- label.radio-inline
                    //-   input(type='radio', name='featured', value=0, checked= !stream.featured)
                    //-   | No

              .col-sm-3.col-md-4
                .form-group
                  label.control-label Set as Private Video?
                  div
                    input.checkbox-toggle(type='checkbox', name='private', checked= stream.private)

                    //- label.radio-inline
                    //-   input(type='radio', name='private', value=1, checked= stream.private)
                    //-   | Yes
                    //- label.radio-inline
                    //-   input(type='radio', name='private', value=0, checked= !stream.private)
                    //-   | No

          .col-md-4.non-lang
            .form-group.textarea-size
              label.control-label Tags
              input.form-control.tags.tags-input(type='text' name='tags' value=tags)

      hr

      .container-fluid

        .error.alert.alert-danger#general-error This is a general error
        .error.alert.alert-danger#application-error This is an application error

        .form-group
          button.btn.btn-primary#vod-submit-btn(type='button') Save Changes
          button.btn.btn-link(type='button') Cancel

