extends home

block content
  #goservices.page-wrapper
    .category-header
      div.container-fluid
        .add-stream.pull-right.m-t-9
          // Redirect to login if admin is not logged in
          a.btn.btn-success.btn-sm(href= session.user.logged_in==true ? '/add_goservice' : '/login')
            span ADD NEW
        h3.text-primary Go Services


    .form-container
      .container-fluid

        .msg.alert.alert-success(role='alert')
          | #{success_messages}

        #goservices-wrapper
          - for (var j = 0; j < goservices.length; j++)
            if (j == 0 || j % 4 == 0)
              .row.row-gutter-sm
                - for (var i = j; i < (4 + j); i++ )
                  - if (i >= goservices.length) break;
                    .col-md-6.col-xl-4
                      .goservice-box(id=goservices[i].id)

                        a(href=goservices[i].link)
                        .background-col(style='background-image:url('+goservices[i].thumbnail+')')
                          .img-block
                        //img.thumbnail(src= goservices[i].thumbnail)
                        h4.stream-title.goservice-title #{goservices[i].title}
                        form
                          input(type="hidden" name="id" value=goservices[i].id)
                          - if (session.user.logged_in)
                            .controls
                              button.btn.btn-link(href= session.user.logged_in==true ? '/edit_goservice' : '/login') Edit
                              span.divider
                              button.btn.btn-link.goservice-remove(type='button',id='remove-' + goservices[i].id) Remove


