extends layout

block mynav
	include includes/nav-bar.jade
block content
	#home.page-wrapper
		.category-header
			div.container-fluid
				h3.text-primary Account Dashboard
		.container-fluid
			.row
				.col-sm-6.col-md-4
					.account-settings
						.alert.alert-info(role='alert')
							| #{msg}
						form
							.form-group
								label Username
								input.form-control(type='text', placeholder='Username', disabled="disabled", value='Username')
							.form-group
								label New Password
								input.form-control(type='password', placeholder='Password', value='')
							.form-group
								label Confirm New Password
								input.form-control(type='password', placeholder='Password', value='')
		hr

		.container-fluid

			.error.alert.alert-danger#general-error This is a general error

			.form-group
				button.btn.btn-primary(type='button') Submit
				button.btn.btn-link(type='button') Cancel