doctype html
html
  head
    title Admin Portal
    block styles
      //- EXTERNAL STYLES
      link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700', rel='stylesheet')
      link(href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', rel='stylesheet')

      //- CUSTOM STYLES
      link(href='/stylesheets/plugins.css', rel='stylesheet')
      link(href='/stylesheets/main.css', rel='stylesheet', id='main-css')

    block scripts
      //- EXTERNAL PLUGINS
      script(src='https://use.fontawesome.com/a20cb9b089.js')
      script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js")
      script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')

      //- LOCAL PLUGINS
      script(src='/node_modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')
      script(src='/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
      script(src='/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js')
      script(src='/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
      script(src='/node_modules/bootstrap-toggle/js/bootstrap-toggle.min.js')
      script(src='/node_modules/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js')
      script(src='/node_modules/dropzone/dist/min/dropzone.min.js')
      script(src='/node_modules/swiper/dist/js/swiper.min.js')
      script(src='/node_modules/validator/validator.min.js')

      //- CUSTOM SCRIPTS
      script(src='/javascripts/add-category-modal.js')
      script(src='/javascripts/add-goservice-modal.js')
      script(src='/javascripts/dropzone-control.js')
      script(src='/javascripts/edit-category-modal.js')
      script(src='/javascripts/event-handler.js')
      script(src='/javascripts/frontend-helpers.js')
      script(src='/javascripts/frontend-validators.js')
      script(src='/javascripts/language-form-control.js')
      script(src='/javascripts/tokenfield-control.js')
      script.

        $(document).ready(function(){

          // paint portal according to admin set settings
          var primary_colour = '#{settings["primary-colour"]}'
          var secondary_colour = '#{settings["secondary-colour"]}'

          paint(primary_colour,secondary_colour);

        })

  block body
    include modals/add-categories-modal.jade
    include modals/add-language-modal.jade
    block mynav
      include includes/nav-bar.jade
    block content
