extends layout

block content
  #login.page-wrapper
    .category-header
      .container-fluid
        h3 Login for Admin Access
    .container-fluid
      .row
        .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
          .account-wall
            if error
              .error.alert.alert-danger(role='alert')
                | #{error}
            form.form-signin(action='/login', method='post')
              .form-group
                label Username
                input.form-control(type='text', placeholder='Username', name='email' required='', autofocus='')
              .form-group
                label Password
                input.form-control(type='password', placeholder='Password', name='password' required='')
              .form-group
                input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Sign In')
              p.text-center
                a(href='/signup') Need an Account?