extends home

block content
  script.
    $( document ).ready(function() {
        var enabled_languages = '#{enabled_languages}';
        var current_language = '#{session.current_language}';

        instantiateLanguageFields(current_language,enabled_languages);

        $('#cp1').colorpicker({
          format: 'hex',
          horizontal: true
        });
        $('#cp2').colorpicker({
          format: 'hex',
          horizontal: true
        });
    });

  #settings.page-wrapper
    .category-header
      div.container-fluid
        h3.text-primary Settings

    form.form-container(action='settings', method='post',enctype='multipart/form-data')
      .container-fluid

        .row
          .col-xs-12.col-lg-6

            h4.text-primary.m-t-0 Languages

            .form-group
              label.control-label Select default language
              div
                span#langs-container
                  each lang in enabled_languages
                    label.radio-inline
                      input(type='radio', name='lang', value=lang, checked=config.default_language==lang)
                      | #{lang}

                div.m-t-10
                  button#add-lang.btn.btn-default.btn-sm(type='button' data-toggle='modal', data-target='#add-language') ADD LANGUAGE

              //- div#new-lang-container

              //-   .col-xs-5
              //-     input#new-lang.form-control(type='text' name='new-lang' placeholder='new language')
              //-   .col-xs-1
              //-     button#confirm-lang.btn.btn-xs(type='button') +
              //- input(type='hidden',name='added-lang',value='false',id='added-lang')
              //- input(type='hidden', name='new-langs', id='new-langs')
              //- input(type='hidden', name='enabled-langs', id='enabled-langs', value=enabled_languages)

            hr

            h4.text-primary General

            .row
              .col-sm-6
                .form-group
                  label.control-label Website Label
                  input.form-control(type='text' name='website-label' value=data['website-label'])

              .col-sm-6
                .form-group
                  label.control-label Website URL
                  input.form-control(type='text' name='website-url' value=data['website-url'])

            .form-group
              label.control-label Homepage Message&nbsp;
                span.lang-toggles
                  each lang in enabled_languages
                    button.btn.lang-btn.btn-sm.btn-outline.m-r-5(type="button",id="settings-" + lang, class= lang == session.current_language ? 'active default-lang-btn' : undefined) #{lang}
                  template#clone-lang-btn
                    button.btn.lang-btn.btn-sm.btn-outline.m-r-5(type="button")
              #homepage-msg-container
                each lang in enabled_languages
                  .lang-field(id='homepage-msg-'+lang)
                    input.label-translations.form-control(type='text' name='homepage-msg-'+lang, id = lang ==
                    config.default_language ? 'default-homepage-msg' : undefined value=data['homepage-msg-' + lang])
                    .error#msg-error(class= lang == config.default_language ? undefined : 'hidden')
                template#clone-homepage-msg-container
                  .lang-field
                    input.label-translations.form-control(type='text')
                    .error#msg-error

            hr

            h4.text-primary Services

            .form-group

              label.control-label Payment Gateway
              div
                label.radio-inline
                  input(type='radio', name='payment', value='saml',checked=data['payment-gateway']=='saml')
                  | SAML
                label.radio-inline
                  input(type='radio', name='payment', value='stripe',checked=data['payment-gateway']=='stripe')
                  | Stripe
                label.radio-inline
                  input(type='radio', name='payment', value='ip',checked=data['payment-gateway']=='ip')
                  | IP Restriction
                label.radio-inline
                  input(type='radio', name='payment', value='account',checked=data['payment-gateway']=='account')
                  | User Account
                label.radio-inline
                  input(type='radio', name='payment', value='none',checked=data['payment-gateway']=='none')
                  | None

            #stripe-details(class= data['payment-gateway'] == 'stripe' ? undefined : 'hidden')
              .row
                .col-sm-6
                  .form-group
                    label.control-label Stripe Secret Key
                    input.form-control(type='text' name='stripe-s-key' value=data['stripe-s-key'])

                .col-sm-6
                  .form-group
                    label.control-label Stripe Publishable Key
                    input.form-control(type='text' name='stripe-p-key' value=data['stripe-p-key'])

            .form-group
              label.control-label Enabled Services:
              .enabled-services.checkbox
                label.checkbox-inline
                  input(type='checkbox', name='enabled', value='livestream', checked=livestreams_enabled ? true : false)
                  | Livestreams

                label.checkbox-inline
                  input(type='checkbox', name='enabled', value='ondemand',checked=ondemand_enabled ? true : false)
                  | On Demand

                label.checkbox-inline
                  input(type='checkbox', name='enabled', value='advertisement',checked=advertisements_enabled ? true : false)
                  | Advertisements

                label.checkbox-inline
                  input(type='checkbox', name='enabled', value='go',checked=goservices_enabled ? true : false)
                  | Go Services

            hr

            h4.text-primary Social Media

            .form-group
              label.control-label Facebook API Token
              input.form-control(type='text' name='facebook-api-token' value=data['facebook-api-token'])

            .form-group
              label.control-label Facebook Page ID
              input.form-control(type='text' name='facebook-pageID' value=data['facebook-pageID'])

            hr.hidden-lg

          .col-xs-12.col-lg-5.col-lg-offset-1

            h4.text-primary Theme Settings

            .form-group

              label.control-label Home Theme

              div
                label.radio-inline
                  input(type='radio', name='home-theme', value='home-banner',checked=data['home-theme']=='home-banner')
                  | Banner
                label.radio-inline
                  input(type='radio', name='home-theme', value='home-featured',checked=data['home-theme']=='home-featured')
                  | Featured Video

            .row
              .col-sm-6
                .form-group
                  label.control-label Logo
                  #current-logo-container.upload-container.ratio-free
                    .thumbnail-container
                      img#logo.thumbnail.img-thumbnail(src='/tmp/logo')
                  #new-logo-container.upload-container.ratio-horizontal(style="display:none;")
                    //- form.dropzone(action='',enctype="multipart/form-data", method="post" )
                  .caption Drag and drop an image on the thumbnail to replace.

                  //img#logo(src='/tmp/logo' style='margin-left:5%; margin-right:5%')
                  //button#change-logo.btn.btn-xs(type='button') Change Logo
                  //- div#upload-logo
                  //-   label.control-label Upload Logo
                  //-   input#logo.file(type='file' name='logo', value='/public/tmp/logo')

              .col-xs-5.col-sm-2.col-lg-6
                .form-group
                  label.control-label Favicon
                  #current-favicon-container.upload-container.ratio-square
                    .thumbnail-container
                      img#favicon.thumbnail.img-thumbnail(src='/tmp/logo')
                  #new-favicon-container.upload-container.ratio-square(style="display:none;")
                    //- form.dropzone(action='',enctype="multipart/form-data", method="post" )
                  .caption Drag and drop an image on the thumbnail to replace.

              .col-xs-12
                .form-group
                  label.control-label Feature Header Image
                  #current-feature-image-container.upload-container.ratio-free
                    .thumbnail-container
                      img#feature-image.thumbnail.img-thumbnail(src='/tmp/logo')
                  #new-feature-image-container.upload-container.ratio-horizontal(style="display:none;")
                      //- form.dropzone(action='',enctype="multipart/form-data", method="post" )
                    .caption Drag and drop an image on the thumbnail to replace. For best results, image should be landscape orientation.

            br

            .row
              .col-xs-6.col-md-3.col-lg-6
                .form-group
                  label.control-label Primary Colour
                  div#cp1.input-group.colorpicker-component
                    .add-on
                      i
                      input.form-control(type='text', name="primary-colour", value=data['primary-colour'])
              .col-xs-6.col-md-3.col-lg-6
                .form-group
                  label.control-label Secondary Colour
                  div#cp2.input-group.colorpicker-component
                    .add-on
                      i
                      input.form-control(type='text', name="secondary-colour", value=data['secondary-colour'])

      hr

      .container-fluid

        .error.alert.alert-danger#general-error This is a general error

        .form-group
          button.btn.btn-primary(type='button') Submit
          button.btn.btn-link(type='button') Cancel







