extends layout

block content
  - if(session.user.logged_in)
    #signup.page-wrapper
      .category-header
        .container-fluid
          h3 Successful Sign Up
      .container-fluid
        .row
          .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
            .account-wall
              if error
                .error.alert.alert-success(role='alert')
                  | Success! Your account was created.
  - else if (!session.user.logged_in)
    #signup.page-wrapper
      .category-header
        .container-fluid
          h3 Sign Up
      .container-fluid
        .row
          .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
            .account-wall
              if error
                .error.alert.alert-danger(role='alert')
                  | #{error}
              form#signup-form.form-signin
                .form-group
                  label Email
                  input.form-control(type='email', name='email', placeholder='Email Address', required='')
                .form-group
                  label Password
                  input.form-control(type='password', name='password', placeholder='Password', required='')
                .form-group
                  label Retype Password
                  input.form-control(type='password', name='retype-password', placeholder='Password', required='')
                .form-group
                  input#signup-btn.btn.btn-lg.btn-primary.btn-block(type='button', value='Sign Up')
                p.text-center
                  a(href='/login') Back to Login