extends home
block content
  - function isArchived(pub_end){return (pub_end != null && new Date(pub_end) <= new Date())}
  script.
    $( document ).ready(function() {
     var enabled_languages = '#{enabled_languages}';
     var current_language = '#{session.current_language}';
     var stream_type = '#{type}'
      instantiateCategoryModal(stream_type,false,current_language,enabled_languages);
    });
  include modals/edit-category-modal.jade

  #streams-container.page-wrapper.column-wrapper

    // Categories sidebar with add new stream button
    #sidenav-wrapper.left-col
      .container-fluid.category-header.m-b-0
        if (session.user.logged_in)
          .button-col.pull-right.m-t-9.visible-xs
            a.btn.btn-sm.btn-default(data-toggle='modal', data-target='#add-category')
              | ADD CATEGORY
        h3 Categories
        .msg #{success_messages}

      .swiper-container.swiper-side-nav
        #test-screen-size.visible-xs
        .swiper-wrapper
          .swiper-slide
            a.sidemenu-item(class=category.label.toLowerCase()=='all' ? 'active':'' href='/stream_by_type/'+type) All&nbsp;
              span.badge #{counts['all']}
          each cat, id in categories
            .swiper-slide
              a.sidemenu-item(class=category.label==cat ? 'active':'')(href='/stream_by_category/'+type+'/'+id) #{cat}&nbsp;
                - if (counts[cat])
                  span.badge #{counts[cat]}
                - else
                  span.badge 0
      if (session.user.logged_in)
        .button-col.col-xs-12.m-t-10.hidden-xs
          a.btn.btn-sm.btn-default(data-toggle='modal', data-target='#add-category') ADD NEW CATEGORY

    // Stream thumbs container
    #streams-wrapper.right-col
      div.category-header
        div.custom-container
          .add-stream.pull-right.m-t-9
            - var target_tag;
            - if (type == 'ondemand'){
                - target_tag = "/add_vod"
            - }
            - else if (type == 'livestream'){
                - target_tag = "/add_livestream"
            - }
            - else if (type == 'advertisement'){
                - target_tag = "/add_advertisement"
            - }
            // Add stream
            a.btn.btn-success.btn-sm.add-stream-btn(href= target_tag + '/' +  category.id)
              span ADD NEW
          h3.category-title.text-primary #{category.label}
            if (session.user.logged_in)
              - if (category.label != 'all')
                if (session.user.logged_in)
                  a.btn.btn-link.btn-sm(data-toggle='modal', data-target='#edit-category-modal') [Edit]
                if (!session.user.logged_in)
                  a.btn.btn-link.btn-sm(href='/login') [Edit]
      div.container-fluid
        // For Stream in Streams
        // Display the thumbnails in columns
        - for (var j = 0; j < streams.length; j++)
          if (j == 0 || j % 4 == 0)
            .row.row-gutter-sm
              - for (var i = j; i < (4 + j); i++ )
                - if (i >= streams.length) break;
                  // Stream thumbnail
                  // Enable controls if admin is logged in
                  .col-md-6.col-xl-4
                    .stream-box(id=streams[i].id, class=isArchived(streams[i].pub_end) ? 'archived' : undefined)
                      .row
                        .col-sm-5.background-col(style='background-image: url(' + streams[i].thumbnail + ');')
                          // Logged in
                          if (session.user.logged_in)
                            span.img-block
                        .col-sm-7.content-col
                          h4.stream-title
                            // Gray out if stream is locked
                            if (isArchived(streams[i].pub_end))
                              span.icon
                                i.fa.fa-archive
                            if (streams[i].private)
                              span.icon
                                i.fa.fa-lock
                            |#{streams[i].title}
                          p.stream-description #{streams[i].description}&nbsp;
                            span [...]
                          form
                            input(type="hidden" name="id" value=streams[i].id)
                            input(type="hidden" name="type" value=type)
                            .controls
                              if (session.user.logged_in)
                                button.btn(type='button', id='edit-' + streams[i].id, class='edit') Edit
                                span.divider
                                button.btn(type='button',id='remove-' + streams[i].id, class='remove') Remove