a, button, .btn {
	outline: none!important;
	box-shadow: none!important;
}

.btn {
	// border-width: 0;
	border-color: transparent!important;
}

.btn-sm, .btn-group-sm > .btn {
	font-size: 10px;
	min-width: 40px;
}

.btn-outline {
	border-width: 1px;
	border-color: $btn-default-border!important;
	@include button-variant($btn-default-color, transparent, $btn-default-border);

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		background-color: darken($btn-default-bg, 5%);

		&:hover,
		&:focus,
		&.focus {
			background-color: darken($btn-default-bg, 5%);
		}
	}
}

.add-category-btn,
.remove-category-btn {
	width: 40px;
    height: 40px;
}