.colorpicker.dropdown-menu {
	padding: 5px;
	min-width: none;
}

.colorpicker-component {
	width: 100%;

	.form-control {
		background: rgba(255,255,255,.9);
		border: none;
	}

	.add-on {
		width: 100%;
		height: 0;
		padding: 10px;
		padding-bottom: 56.25%;
		display: block;

		i {
			display: block;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: auto;
			border: 1px solid darken($gray-lighter,15%);
		}
	}
}