.datepicker.dropdown-menu {
	padding-top: 0;
    padding-bottom: 2px;

    .table-condensed {
    	@extend .table;
    	margin-bottom: 0;

    	>thead>tr>th {
    		border-top: none;
    	}

    	td {
    		border: none!important;
    	}

    	.active {
    		background: $brand-primary!important;
    		border-color: $brand-primary!important;
    	}
    }
}