.dropzone {
	border: none;
	padding: 0;
	min-height: 0;

	.dz-message {
		margin: 0 auto;
		border-radius: 0;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;

		span {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			margin-top: -20px;
		}
	}

	.dz-preview {
		width: 100%;
		margin: 0;

		&.dz-file-preview {
			.dz-image {
				padding: 0;
				height: 150px;
			}
		}

		.dz-image {
			margin: 0 auto;
			border-radius: 0!important;
			width: 100%;
			height: 0;
			padding-bottom: 56.25%;

			img {
				width: 100%;
			}
		}

		.dz-remove {
			@extend .btn;
			@extend .btn-sm;
			@extend .btn-danger;
			position: absolute;
			bottom: 10px;
			z-index: 23;
			left: 50%;
			margin-left: -40px;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&.file-dropzone {

		.dz-message {
			padding: 0;
			height: 150px;
		}

		.dz-file-preview {

			.dz-image {
				padding: 0;
				height: 150px;
				background: #000;
			}
		}
	}
}

.thumbnail-container {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;

	video {
		width: 100%;
	}

	.dz-clickable {

	}
}

#current-thumbnail-container,
#current-video-container,
#new-thumbnail-container,
#new-video-container,
.upload-container {
	border: 2px dashed $gray-lighter;
	padding: 10px;

	.upload-video-btn {
		margin: 5px auto 0 auto;
		display: block;
	}

	.thumbnail-container {
		padding-bottom: 56.25%;
	}

	&.ratio-horizontal {

		.thumbnail-container {
			padding-bottom: 25%;
		}
	}

	&.ratio-square {

		.thumbnail-container {
			padding-bottom: 100%;
		}
	}

	&.ratio-free {

		.thumbnail-container {
			padding-bottom: 0;
			height: auto;
		}
	}
}

.video-container {

	video {
		width: 100%;
	}
}
