/* FORM GROUPS */
.form-group {

	label {
		color: $gray-light;
		font-weight: 500;
	}
}

/* TEXT INPUTS */
.form-control {
	box-shadow: none;
	@include transition(none);

	&:focus {
		@include box-shadow(none);
		background: darken($gray-lighter,5%);
	}

	&[disabled]
	&[readonly] {
		border-color: darken($gray-lighter,15%);
	}
}

textarea.form-control {
	min-height: 108px;
	resize: none;
}

/* TOKENFIELDS */
.tokenfield {

	&.focus {
		border-color: $input-border-focus;
		@include box-shadow(none);
		background: darken($gray-lighter,5%);
	}

	.token {
		background: #fff;
		height: auto;
		padding: 2px 2px;

		.token-label {
			vertical-align: middle;
		}
	}
}

.textarea-size {

	.form-control.tokenfield {
		min-height: 108px;
		height: auto;
	}
}

/* CHECKBOXES AND RADIOS */
.radio-inline,
.checkbox-inline {
	line-height: 1.6;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	margin-left: 20px;
}

/* SELECT BOX */
select.form-control {
	-webkit-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#777' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>")!important;
	background-position: right 5px center!important;
	background-repeat: no-repeat!important;
	border-radius: 0;
	box-shadow: none;
	padding: 0px 6px;
	height: 40px;

	&:focus {
		@include box-shadow(none);
		outline: none;
	}
}

/* DATE FIELD, HIDE DEFAULT CHROME PICKER */
input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

/* TOGGLES */
.toggle.btn {
	border: none;
	min-height: 40px;
	min-width: 70px;

	.btn {
		border-width: 0!important;
		border-radius: 0;
		color: inherit;
		padding-top: 11px;

		&.btn-success {
			color: #fff;
		}

		&.toggle-handle {
			min-width: 30px;
			border-radius: 20px;
			background: $input-bg;
		}
	}
}