html {
	height: 100%;
}

body {
	height: 100%;
	padding-top: $navbar-height;
	opacity: 0;
}

body.css-loaded {
	@include animate(fadeIn, .5s);
}

.column-wrapper {
	min-height: 100%;
	overflow: hidden;

	.left-col {
		background: $gray-lighter;

		@media (min-width: $screen-sm-min) {
			padding-right: 0;
			padding-bottom: 99999px;
			margin-bottom: -99999px;
			width: 300px;
			float: left;

			@media (min-width: $grid-float-breakpoint) {
				.col-xs-12 {
					padding-left: 25px;
					padding-right: 25px;
				}
			}
		}
	}

	.right-col {

		@media (min-width: $screen-sm-min) {
			padding-left: 0;
			padding-bottom: 99999px;
			margin-bottom: -99999px;
			margin-left: 300px;
		}
	}
}

.custom-container {
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	@media (min-width: $grid-float-breakpoint) {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.category-header {
	border-bottom: 1px solid $gray-lighter;
	margin-bottom: $grid-gutter-width-sm*2;

	@media (min-width: $grid-float-breakpoint) {
		padding: 10px 0;
	}

	.category-title:first-letter{
		text-transform: capitalize;
	}
}