#main-nav {
	@extend .navbar;
	@extend .navbar-inverse;
	@extend .navbar-fixed-top;
	border-radius: 0;
	border: none;

	.navbar-brand {
		padding: 5px 15px;
		font: 0/0 a;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		img {
			max-height: $navbar-height - 10px;
			width: auto;
			max-width: 120px;
			display: inline-block;
			vertical-align: middle;
			font: 16px/1 Arial sans-serif;
		}
	}

	.navbar-toggle {
		float: left;
		margin-right: 0;
		margin-left: 15px;
	}

	.navbar-collapse {
		box-shadow: none!important;
	}

	.double-line {
		line-height: 14px;
		display: block;
		margin-top: -6px;
		margin-bottom: -3px;
		text-align: right;
	}

	.nav-link {
		@media (max-width: $grid-float-breakpoint-max) {
			border-left: 4px solid transparent;
		}

		@media (min-width: $grid-float-breakpoint) {
			padding-bottom: $navbar-padding-vertical - 4px;
			border-bottom: 4px solid transparent;
		}

		&.active {
			color: $brand-primary!important;
			border-color: $brand-primary;
		}
	}

	.change-lang.active {
		background: $dropdown-link-hover-bg;

		.fa {
			display: inline-block !important;
			float: right;
			margin-top: 3px;
		}
	}

	#custom-nav {
		@extend .nav;
		@extend .navbar-right;
		float: right;
		margin-right: -15px;

		> li {

			@media (min-width: $grid-float-breakpoint) {
				float: left;
			}

			> a {
				line-height: 20px;
				background-color: transparent!important;
				padding-top: 20px;
				padding-bottom: $navbar-padding-vertical - 4px;
				border-bottom: 4px solid transparent;
				border-left: none;
				color: $brand-primary!important;
			}

			.dropdown-menu {
				margin-top: 0;
			}
		}
	}

	.dropdown-menu {
		border: none;
	}
}