$spacing-list: 0 1 2 3 4 5 9 10 11 15 20 25 30;
@each $current-spacing in $spacing-list {
	$i: index($spacing-list, $current-spacing);
	.m-t-#{$current-spacing} {
		margin-top: #{$current-spacing}px!important;
	}
	.m-b-#{$current-spacing} {
		margin-bottom: #{$current-spacing}px!important;
	}
	.m-l-#{$current-spacing} {
		margin-left: #{$current-spacing}px!important;
	}
	.m-r-#{$current-spacing} {
		margin-right: #{$current-spacing}px!important;
	}
	.p-t-#{$current-spacing} {
		padding-top: #{$current-spacing}px!important;
	}
	.p-b-#{$current-spacing} {
		padding-bottom: #{$current-spacing}px!important;
	}
	.p-l-#{$current-spacing} {
		padding-left: #{$current-spacing}px!important;
	}
	.p-r-#{$current-spacing} {
		padding-right: #{$current-spacing}px!important;
	}
}

.container {
	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}

@media (min-width: $screen-xl-min) {
	@include make-grid(xl);
}

.container-fluid {
	@media (min-width: $grid-float-breakpoint) {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.thumbnail {
	border: none;
	margin-bottom: 0;
}

.img-thumbnail {
	width: 100%;
}

.caption {
	font-size: 10px;
	color: $gray-light;
	text-align: center;
	padding: 5px 10px 0 10px;
}

.row.row-gutter-sm {
	@include make-row($grid-gutter-width-sm*2);

	>[class^="col-"] {
		padding-left: $grid-gutter-width-sm;
		padding-right: $grid-gutter-width-sm;
	}
}

.row.row-gutter-xs {
	@include make-row($grid-gutter-width-xs*2);

	>[class^="col-"] {
		padding-left: $grid-gutter-width-xs;
		padding-right: $grid-gutter-width-xs;
	}
}

.equal-col-layout {
	@media (min-width: $screen-sm-min) {
		display: table;
		table-layout: fixed;
		padding-left: 0;
		padding-right: 0;
		height: 100%;
		width: 100%;

		>div {
			display: table-row;

			>div {
				display: table-cell;
				float: none;
				vertical-align: middle;
				height: 100%;
			}
		}
	}

	@media (max-width: $screen-sm-max) {

		>div {
			margin: 0;
		}
	}
}

.background-col {
	background: $gray-base no-repeat center center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	padding: 15px;
	//background-clip: content-box;

	.img-block {
		display: block;
		min-width: 100%;
		padding-bottom: 56.25%;
		background: transparent;
		margin-left: -15px;
		margin-right: -15px;

		a {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: auto;
		}
	}
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 10px;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.dropdown-menu {

	.divider {
		margin: 5px 0 5px 0;
	}
}
