.swiper-side-nav {

	.swiper-slide {
		width: auto;

		.sidemenu-item {
			@extend .btn;
			@extend .btn-block;
			@extend .btn-lg;
			text-align: left;
			border-radius: 0;
			border: none;
			border-bottom: 4px solid transparent;
			color: inherit;

			@media (min-width: $grid-float-breakpoint) {
				padding-left: 25px;
				padding-right: 25px;
			}

			&.active {
				color: $brand-primary;
				border-color: $brand-primary;

				.badge {
					background-color: $brand-primary;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		.swiper-wrapper {
			display: block;
		}

		.swiper-slide {

			.sidemenu-item {
				border-bottom: none;
				border-left: 4px solid transparent;
			}
		}
	}
}