.stream-box, .goservice-box {
	position: relative;
	background: lighten($gray-lighter, 5%);
	border: 1px solid $gray-lighter;
	margin-bottom: $grid-gutter-width-sm*2;
	padding: 5px;

	@extend .equal-col-layout;

	&.archived {
		background: #fff;

		.background-col {
			filter: blur(2px);
			opacity: .5;
		}

		.content-col {
			opacity: .2;
		}
	}

	.icon {
		display: inline-block;
		width: 20px;
	}

	.stream-title {
		margin-top: 10px;
		margin-bottom: 0;
		height: 40px;
		overflow: hidden;

		@media (max-width: $screen-xs-max) {
			margin-top: 10px;
		}
	}

	.stream-description {
		@extend .text-muted;
		font-size: 12px;
		height: 34px;
		overflow: hidden;
	}

	.controls {
		min-height: 20px;

		.btn {
			@extend .btn-link;
			@extend .btn-xs;
			font-size: 11px;
			padding-left: 0;
			padding-right: 0;
			border-left: none;
			border-right: none;
			color: $gray-light;
			font-weight: bold;

			&:hover,
			&:focus,
			&.focus {
				color: $gray-dark;
				text-decoration: none;
			}
		}

		.divider {
			display: inline-block;
			width: 2px;
			height: 8px;
			background: $gray-light;
			margin-left: 7px;
			margin-right: 7px;
		}
	}
}
