$font-family-sans-serif:          'Roboto';
$grid-gutter-width:               30px;
$grid-gutter-width-xs:            5px;
$grid-gutter-width-sm:            10px;
$grid-columns:                    12;


/* XL SCREEN SIZE */
$screen-xl:                       1350px;
$screen-xl-min:                   $screen-xl;
$screen-xl-desktop:               $screen-xl-min;
$screen-lg-max:                   ($screen-xl-min - 1);
$container-xlarge-desktop:        (1240px + $grid-gutter-width);
$container-xl:                    $container-xlarge-desktop;


/* COLORS */
$gray-base:                       #000;
$gray-darker:                     lighten($gray-base, 13.5%); // #222
$gray-dark:                       lighten($gray-base, 20%);   // #333
$gray:                            lighten($gray-base, 33.5%); // #555
$gray-light:                      lighten($gray-base, 46.7%); // #777
$gray-lighter:                    lighten($gray-base, 93.5%); // #eee
$brand-primary:                   #C34343;
$brand-success:                   #5cb85c;
$brand-info:                      #5bc0de;
$brand-warning:                   #f0ad4e;
$brand-danger:                    #d9534f;


/* BUTTONS */
$border-radius-base:              0;
$border-radius-large:             0;
$border-radius-small:             0;
$btn-font-weight:                 500;
$btn-border-radius-base:          20px;
$btn-border-radius-large:         30px;
$btn-border-radius-small:         15px;
$btn-default-bg:                  #D8D8D8;
$btn-default-border:              #D8D8D8;


/* FORM CONTROLS */
$input-bg:                        $gray-lighter;
$input-border:                    $gray-lighter;
$input-border-focus:              darken($gray-lighter,5%);
$input-bg-disabled:               darken($gray-lighter,15%);
$input-height-base:				  40px;
$thumbnail-border:                transparent;
$thumbnail-padding:               2px;


/* NAVBAR */
$grid-float-breakpoint:           768px + 100px;
$navbar-height:                   60px;
// Reset inverted navbar basics
$navbar-inverse-color:                      'color_primary_lighten_15';
$navbar-inverse-bg:                         $brand-info;
$navbar-inverse-border:                     'color_primary_darken_10';
// Inverted navbar links
$navbar-inverse-link-color:                 'color_primary_lighten_15';
$navbar-inverse-link-active-bg:             'color_primary_darken_10';
// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            'color_primary_darken_10';
$navbar-inverse-toggle-border-color:        'color_primary_darken_10';
